h1 {background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
.head {font-family: helvetica
      font-size; 32px;
      font-weight: bold;
      color: white;
}
.one {background-color: mediumspringgreen
}
.two {background-color: lightcoral;
}
.three {background-color: skyblue;
}
.blue { font-family: helvetica;
        font-weight: bold;
        color: blue;
}
